@font-face {
  src: url('../fonts/Avenir-Next/avenir-next-medium.woff2') format('woff2');
  font-family: 'Avenir Next';
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url('../fonts/Avenir-Next/avenir-next-bold.woff2') format('woff2');
  font-family: 'Avenir Next';
  font-weight: 700;
  font-style: normal;
}

@font-face {
  src: url('../fonts/Manrope/Manrope-SemiBold.ttf') format('ttf');
  font-family: 'Manrope';
  font-weight: 600;
  font-style: normal;
}
